@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Poppins', sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 40px;

    width: 100%;
}

.logo {
    max-width: 100px;
    margin-right: 50px;
}

.logo img {
    width: 100%;
}

nav {
    width: 45%;
}

nav ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul li {
    list-style: none;
    padding: 5px 0;
    cursor: pointer;
}

nav ul li:hover {
    border-bottom: 2px solid rgb(248, 199, 35);
}

nav ul .pad {
    margin-left: 5px;
    margin-right: 5px;
}

nav ul li a {
    text-decoration: none;
    color: #000;
    font-size: .7rem;
    font-weight: bold;
}





/* Showcase 1 Styling */

.showcase-1 {
    width: 100%;
    /* max-width: 270px; */

    display: flex;
    flex-direction: column-reverse;

    padding: 80px 40px 120px 40px;
}

.showcase-1 .showcase-left {
    flex: 1;
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.showcase-1 .showcase-left h1 {
    text-align: center;
    font-size: 1.4rem;
    padding: 30px 21px;
    line-height: 30px;
}

.showcase-1 .showcase-left p {
    text-align: center;
    line-height: 20px;
    padding: 0 15px 25px 15px;
    font-size: .81rem;
}

input {
    width: 90%;
    padding: 10px 20px;
    border: 1px solid #000;
    border-radius: 3px;
    outline: none;

    margin-bottom: 15px;
}

button {
    border-radius: 3px;
    border: none;
    width: 90%;
    padding: 12px 20px;
    background: rgb(24, 80, 163);
    font-size: .75rem;
    font-weight: bold;
    color: #fff;
}



.showcase-1 .showcase-right {
    flex: 1;
    width: 100%;
}

.showcase-1 .showcase-right img {
    width: 100%;
}



/* Showcase 2 Styling */

.showcase-2 {
    width: 100%;
    /* max-width: 270px; */

    display: flex;
    flex-direction: column-reverse;

    padding: 0 40px 70px 40px;
}

.showcase-left-2 {
    flex: 1;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.showcase-2 .showcase-left-2 h1 {
    text-align: center;
    font-size: 1.4rem;
    padding: 30px 21px;
    line-height: 30px;
}

.showcase-2 .showcase-left-2 p {
    text-align: center;
    line-height: 20px;
    padding: 0 15px 25px 15px;
    font-size: .81rem;
}



.showcase-right-2 {
    flex: 1;
    width: 100%;
}

.showcase-right-2 img {
    width: 100%;
}

span a {
    text-decoration: none;
    color: rgb(18, 170, 86);
    font-size: .8rem;
    padding-bottom: 5px;
    border-bottom: 1px solid rgb(18, 170, 86);
    cursor: pointer;
}

article {
    width: 90%;
    background: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 1px 1px 10px -5px #000;
}

h3 {
    font-size: .7rem;
    line-height: 15px;
}

article span {
    font-size: 1.67rem;
}

.div1 {
    padding-bottom: 20px;
}


.div2 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.div2-1 {
    flex: 1;
}

.div2-2 {
    flex: 3.5;
}

.div2 .div2-1 img {
    border-radius: 50%;
    width: 70%;
}

.div2-2 h4 {
    font-size: .7rem;
    font-weight: bolder;
}

.div2-2 span {
    font-size: .5rem;
}


/* Get-early-access Styling */

.get-early-access {
    width: 100%;
    /* max-width: 270px; */

    color: #fff;
    padding: 50px 40px;
    text-align: center;

    background: rgb(142, 116, 255);
}

.get-early-access h2 {
    font-size: .9rem;
    padding-bottom: 15px;
}

.get-early-access p {
    font-size: .70rem;
    padding-bottom: 15px;
    line-height: 20px;
}

.get-early-access input {
    width: 90%;
    padding: 10px 20px;
    border: none;
}

.get-early-access button {
    width: 90%;
    padding: 10px 20px;
    color: #fff;
}

.get-early-access button:hover {
    opacity: .8;
}

.get-early-access button:active {
    opacity: .5;
}

::placeholder {
    font-size: .7rem;
}



/* Footer Styling */

footer {
    width: 100%;
    /* max-width: 270px; */

    background: rgb(49, 46, 92);

    color: #fff;
    padding: 50px 40px; 
    font-size: .9rem;
    font-weight: normal;   
}


.one {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-bottom: 25px;
}

.tel {
    display: flex;
    padding-top: 20px;
}

.tel .left {
    padding-right: 15px;
}

.email {
    display: flex;
}

.email .left {
    padding-right: 15px;
}

.two {
    padding-bottom: 30px;
}

.two ul {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.two ul li {
    list-style: none;
}

.two ul li a {
    text-decoration: none;
    color: #fff;
}

.three {
    padding-bottom: 30px;
}

.three ul {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.three ul li {
    list-style: none;
}

.three ul li a {
    text-decoration: none;
    color: #fff;
}

.four {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.four i {
    font-size: 1.5rem;
    padding: 0 25px;
}




@media (min-width: 700px) {
    .showcase-1 .showcase-left h1 {
        font-size: 2.5rem;
        line-height: 50px;
        text-align: left;
    }

    .showcase-1 .showcase-left p {
        font-size: 1.1rem;
        line-height: 28px;
        text-align: left;
    }

    header {
        padding: 40px 100px 40px 100px;
    }

    .logo img{
        width: 180px;
    }

    nav {
        width: 230px;
        font-size: 2rem;
    }

    nav ul li a {
        text-decoration: none;
        color: #000;
        font-size: 1rem;
        font-weight: bold;
    }

    .showcase-1 {
        width: 100%;
        /* max-width: 270px; */
    
        display: flex;
        flex-direction: row;
        gap: 20px;
    
        padding: 80px 100px 120px 100px;
    }

    .showcase-1 .showcase-left {
        text-align: left;
        display: flex;
        justify-content: start;
        align-items: start;
        /* max-width: 200px; */

    }

    .showcase-1 .showcase-left .input-button {
        display: flex;
        flex-direction: row;
        gap: 10px;
        margin-left: 15px;

        justify-content: start;
        align-items: start;
    }

    .showcase-1 .showcase-left input {
        flex: 2;
        width: 500px;
        padding: 10px 90px 10px 10px;
    }

    ::placeholder {
        font-size: .9rem;
        text-align: left;
    }
    
    button {
        flex: 1;
        width: 50%;
        padding: 12px 20px;
    }

    
    
    .showcase-2 {
        width: 100%;
        /* max-width: 270px; */
    
        display: flex;
        flex-direction: row;
        gap: 20px;
    
        padding: 80px 100px 120px 100px;
    }

    .showcase-2 .showcase-left-2 {
        display: flex;
        justify-content: start;
        align-items: flex-start;
    }

    .showcase-2 .showcase-left-2 h1 {
        font-size: 2rem;
        line-height: 50px;
        text-align: left;
    }

    .showcase-2 .showcase-left-2 p {
        font-size: 1rem;
        line-height: 28px;
        text-align: left;
        margin-left: 15px;
    }

    article {
        max-width: 300px;
        margin-left: 30px;
    }


    .get-early-access {
        padding: 50px 90px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        text-align: left;
        gap: 30px;
    }

    .get-early-access h2 {
        font-size: 1.88rem;
        line-height: 50px;
        text-align: left;
    }

    .get-early-access p {
        font-size: 1rem;
        line-height: 28px;
        text-align: left;
    }

    .get-early-left {
        flex: 1;
        width: 100%;
        max-width: 400px;
    }

    .get-early-right {
        flex: 1;
        width: 100%;
        max-width: 400px;
    }

    
    .get-early-access input {
        width: 90%;
        padding: 10px 20px;
        border: none;
    }

    .get-early-access button {
        width: 50%;
        max-width: 200px;
        padding: 10px 20px;
        color: #fff;
    }


    footer {
        padding: 70px 100px 70px 100px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

}